html{
    font-family: 'Courier New', Courier, monospace;
}

body{
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: blue;
}

#game{
    background-color: aqua;
    flex:0.5 1 auto;
    text-align: center;
    padding:50px;
    border:2px solid black;
    border-radius: 5px;
}

button{
    background-color: rgb(101, 202, 0);
    color:white;
    font-size: large;
    border-radius: 5px;
}

.text{
    font-size: larger;
    margin-left: -40px;
    margin-right:-40px;
}